autogenerate_v2/Asset filter=lfs diff=lfs merge=lfs -text
autogenerate_v2/Assets filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
UGRP_trafficLight/Assets filter=lfs diff=lfs merge=lfs -text
KartRacing/Assets filter=lfs diff=lfs merge=lfs -text
autogenerate_v2/Assets filter=lfs diff=lfs merge=lfs -text
UGRP_trafficLight/Assets filter=lfs diff=lfs merge=lfs -text
autogenerate_v3/Assets filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
UGRP_trafficLight/Assets/Delux[[:space:]]Primitives/ filter=lfs diff=lfs merge=lfs -text
